beautifulsoup4==4.12.3
boto3==1.34.113
web3==6.19.0
supabase==2.5.1
requests==2.31.0
seleniumbase==4.27.0
matplotlib==3.7.1
numpy==1.26.4
opencv_python==4.7.0.72
opencv_python_headless==4.8.1.78
pandas==2.2.0
Pillow==10.2.0
pynput==1.7.6
scipy==1.12.0
seaborn==0.13.2
shap==0.44.0
torch==2.2.0
torchvision==0.17.0
tqdm==4.65.0
ultralytics==8.0.217
Yolo
#tensorflow
#tensorflow[and-cuda]==2.13.0
capsolver
tensorflow-cpu